body{
    font-family: "futura-pt", sans-serif;
    /* margin-right: 40vw; */
}
h1{
    font-size: 10vw;
    font-weight: 800;
    color: #6e050e;
    text-align: right;
    padding-right: 2vw;
}
.navbar{
    position: absolute;
    width: 100%;
    top: 0;
 }
.navbar ul{
    list-style-type: none;
    overflow: hidden;
    display:flex;
    justify-content: right;

}
.navbar a{
    text-decoration: none;
    color: #6e050e;
    display: block;
    text-align:center;
    font-size: 3vw;
    font-weight: 400;
    font-style: italic;
    display: inline-block;
}
.navbar li{
    display: inline-block;
    padding: 0vh 3vw;
}
.navbar a:hover{
    text-decoration: underline;
}

.logo-container {
    fill: #2e4a04;
    stroke-width: 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: 12vw;
    height: auto;

}

.page-wrapper {
    display: grid; /* Enable grid layout */
    grid-template-columns: repeat(2, 1fr); /* Create 2 equal-width columns */
    gap: 3rem; /* Add spacing between grid items */
    margin-left: 14rem;
    margin-right: 3rem;
    align-items: top;
    justify-content: center;
    grid-template-areas: 
    "m a";
}
#image {
    grid-area: m;
    
}
#image img {
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    max-width: 600px; /* Set a maximum width */
    min-width: 400px;
}
#about {
    grid-area: a;
    width: 400px;
    max-width: 400px;
    
   
}


footer{
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #b44c47;
    height: 10vh;
    display: flex;
    justify-content: space-around;
}


/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    h1{
        font-size: 17vw;
        line-height: 1;
    }
    .navbar a{
        font-size: 6vw;
    }
    .logo-container {
        width: 20vw; 
    }
    .page-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: 
    "a"
    "m";
        justify-content: center;
        align-items: center;
        margin-left: 3rem;
        margin-right: 3rem;
        
    }
    #image {
        width: 100%;
        height: auto;
    }
    #about {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    h1{
        font-size: 14vw;
        line-height: 0.8;
    }
    .navbar a{
        font-size: 5vw;
    }
    .logo-container {
        width: 17vw; 
    }
    .page-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: 
    "a"
    "m";
    }
}