body{
    font-family: "futura-pt", sans-serif;
   
}
h1{
    font-size: 10vw;
    font-weight: 800;
    color: #6e050e;
    text-align: right;
    padding-right: 2vw;
}
.navbar{
    position: absolute;
    width: 100%;
    top: 0;
 }
.navbar ul{
    list-style-type: none;
    overflow: hidden;
    display:flex;
    justify-content: right;

}
.navbar a{
    text-decoration: none;
    color: #6e050e;
    display: block;
    text-align:center;
    font-size: 3vw;
    font-weight: 400;
    font-style: italic;
    display: inline-block;
}
.navbar li{
    display: inline-block;
    padding: 0vh 3vw;
}
.navbar a:hover{
    text-decoration: underline;
}

.logo-container {
    fill: #2e4a04;
    stroke-width: 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: 12vw;
    height: auto;

}

.page-wrapper {
    display: grid; /* Enable grid layout */
    grid-template-columns: repeat(2, 1fr); /* Create 2 equal-width columns */
    gap: 3rem; /* Add spacing between grid items */
    margin-left: 14rem;
    margin-right: 3rem;
    align-items: top;
    justify-content: center;
    grid-template-areas: 
    "m a";
}
#image {
    grid-area: m;
    
}
#image img {
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    max-width: 600px; /* Set a maximum width */
    min-width: 400px;
}
#about {
    grid-area: a;
    width: 400px;
    max-width: 400px;
}

h2{
    color:#6e050e;
    font-weight: 800;
    margin: 0;
}
footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    height: auto;
    display: flex;
    flex-direction: column;;
    justify-content: center;
    align-items: center;
    padding-bottom: 2vh;
}
#email a{
    text-decoration: none;
    color: #6e050e;
    text-align: center; 
  }
  #linkedin a{
    text-decoration: none;
    color: #6e050e;
    text-align: center;
  }
  #instagram a{
    text-decoration: none;
    color: #6e050e;
    text-align: center;
  }
  #feedback-survey a {
    text-decoration: none;
    color: #6e050e;
    text-align: center;
  }
  /* Hover Effect */
  #email a:hover {
    text-decoration: underline;
  } 
  #linkedin a:hover {
    text-decoration: underline;
  }
  #instagram a:hover {
    text-decoration: underline;
  }
  #feedback-survey a:hover {
    text-decoration: underline;
  }

#resume{
    width: 30%;
    max-width: 400px;
    height: auto;
    background-color: #6e050e;
    border: none;
    border-radius: 50px;
    margin: 0 auto 30px auto;
    padding: 5px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    font-style: italic;
    position: relative;
}
#resume a{
    color: #ffffff;
    text-decoration: none;
}
#resume:hover{
    background-color: #2e4a04;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    h1{
        font-size: 17vw;
        line-height: 1;
    }
    .navbar a{
        font-size: 6vw;
    }
    .logo-container {
        width: 20vw; 
    }
    .page-wrapper {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas: 
    "a"
    "m";
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 1rem;
       
    }
    #image img{
        width: 100%;
        height: auto;
        max-width: 500px; /* Set a maximum width */
        min-width: 300px;
    }
    #about {
        max-width: 400px;
        min-width: 330px;
    }
}

@media (max-width: 480px) {
    h1{
        font-size: 14vw;
        line-height: 1;
    }
    .navbar a{
        font-size: 5vw;
    }
    .logo-container {
        width: 17vw; 
    }
    .page-wrapper {
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-areas: 
    "a"
    "m";
    }
    #image img{
        min-width: 330px;
        max-width: 400px;
    }
    #about{
    width: 330px;
    max-width: 330px;
    }
}