body{
    font-family: "futura-pt", sans-serif;
    
  
}
h1{
    font-size: 3vw;
    font-style: italic;
    font-weight: 400;
    color: #6e050e;
    padding-left: 2vw;
}


.navbar{
    position: fixed;
    bottom: 10vh;
    width: 100%;
   
 }
.navbar ul{
    list-style-type: none;
    overflow: hidden;
    display:flex;
    justify-content: center;
    margin-right: 5vw;

}
.navbar a{
    text-decoration: none;
    color: #6e050e;
    display: block;
    text-align:center;
    font-size: 10vw;
    font-weight: 800;
    display: inline-block;
}
.navbar li{
    display: inline-block;
    padding: 0vh 10vw;
}
.navbar-spacer {
    height: 30vh; /* Match the height of the navbar */
    background-color: transparent; /* Optional: Make it invisible */
}

.logo-container {
    fill: #2e4a04;
    stroke-width: 0px;
    position: absolute;
    /* top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 12vw;
    height: auto;
    z-index: -1; /* Ensure the logo is behind other content */
}

#Layer_1 {
    animation: Layer_1ColorChange 60s steps(1) infinite, Layer_1bounce 60s infinite;
}

/* Keyframes for color change animation */
@keyframes Layer_1ColorChange {
    0% {
        fill: #2e4a04; /* Start color */
    }
    16% {
        fill: #b44c47; /* Intermediate color */
    }
    33% {
        fill: #6e050e; /* Another intermediate color */
    }
    50% {
        fill: #2e4a04; /* Start color */
    }
    66% {
        fill: #b44c47; /* Intermediate color */
    }
    82% {
        fill: #6e050e;
    }
    100% {
        fill: #2e4a04; /* Return to start color */
    }
}


  
  @keyframes Layer_1bounce {
    0% {
        transform: translate(calc(50vw - 6vw), -20vh); 
    }
    16% {
        transform: translate(calc(75vw - 6vw), calc(100vh - 15vw)); 
    }
    33% {
        transform: translate(calc(100vw - 12vw), calc(60vh - 6vw)); 
    }
    50% {
        transform: translate(calc(30vw - 6vw), -20vh); 
    }
    66% {
        transform: translate(0, calc(50vh - 6vw)); 
    }
    82% {
        transform: translate(calc(30vw - 6vw), calc(100vh - 15vw)); 
    }
    100% {
        transform: translate(calc(50vw - 6vw), -20vh); 
    }
}
h2{
    text-align: center;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-icons {
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Center the icons horizontally */
    align-items: center; /* Align the icons vertically */
    gap: 1rem; /* Add spacing between the icons */
}
#email {
    fill: black;
    width: auto;
    height: 60px;
    
  }
  #linkedin {
    fill: black;
    width: auto;
    height: 50px;
  }
  .instagram {
    fill: black;
    width: 10px;
    height: 10px;
    max-width: 20px;
  }
  #feedback-survey{
    text-decoration: none;
    color: black;
    text-align: center;
  }
  /* Hover Effect */
  #linkedin:hover {
    transform: scale(1.2);
    fill: #6e050e;
  }
  #email:hover {
    transform: scale(1.1);
    transform-origin: center;
    fill: #6e050e;
  }

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    h1{
        font-size: 6vw;
    }
    .navbar ul {
        flex-direction: column; /* Stack items vertically */
        align-items: center;
    }
    .navbar li {
        padding: 2vh 8vw; /* Reduce padding */
    }

    .navbar a {
        font-size: 18vw;
        line-height: 0.8;
    }
    .logo-container {
        width: 20vw; 
    }
}

@media (max-width: 480px) {
    h1{
        font-size: 5vw;
    }
    .navbar ul {
        flex-direction: column; /* Stack items vertically */
        align-items: center;
    }

    .navbar li {
        padding: 2vh 8vw; /* Further reduce padding */
    }
    .navbar a {
        font-size: 15vw;
        line-height: 0.8;
    }
    .logo-container {
        width: 17vw; 
    }
}