body{
    font-family: "futura-pt", sans-serif;
    height: 100%;
  
}
h1{
    font-size: 3vw;
    font-style: italic;
    font-weight: 400;
    color: #6e050e;
    padding-left: 2vw;
}


.navbar{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
 }
.navbar ul{
    list-style-type: none;
    overflow: hidden;
    display:flex;
    justify-content: center;
    margin-right: 5vw;

}
.navbar a{
    text-decoration: none;
    color: #6e050e;
    display: block;
    text-align:center;
    font-size: 10vw;
    font-weight: 800;
    display: inline-block;
}
.navbar li{
    display: inline-block;
    padding: 0vh 10vw;
}
.navbar a:hover{
    text-decoration: underline;
}
.navbar-spacer {
    height: 10vh; /* Match the height of the navbar */
    width: 100%; /* Ensure it spans the full width */
}

.logo-container {
    fill: #2e4a04;
    stroke-width: 0px;
    position: absolute;
    /* top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 20vw;
    height: auto;
    z-index: -1; /* Ensure the logo is behind other content */
}


#Layer_1 {
    animation: Layer_1ColorChange 60s steps(1) infinite, Layer_1bounce 60s infinite;
}


/* Keyframes for color change animation */
@keyframes Layer_1ColorChange {
    0% {
        fill: #2e4a04; 
    }
    16% {
        fill: #b44c47; 
    }
    33% {
        fill: #6e050e; 
    }
    50% {
        fill: #2e4a04; 
    }
    66% {
        fill: #b44c47; 
    }
    82% {
        fill: #6e050e;
    }
    100% {
        fill: #2e4a04; 
    }
}


  
  @keyframes Layer_1bounce {
    0% {
        transform: translate(calc(50vw - 6vw), -20vh); 
    }
    16% {
        transform: translate(calc(75vw - 6vw), calc(100vh - 15vw)); 
    }
    33% {
        transform: translate(calc(100vw - 12vw), calc(60vh - 6vw)); 
    }
    50% {
        transform: translate(calc(30vw - 6vw), -20vh); 
    }
    66% {
        transform: translate(0, calc(50vh - 6vw)); 
    }
    82% {
        transform: translate(calc(30vw - 6vw), calc(100vh - 15vw)); 
    }
    100% {
        transform: translate(calc(50vw - 6vw), -20vh); 
    }
}
h2{
    text-align: center;
}


/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    h1{
        font-size: 6vw;
    }
    .navbar ul {
        flex-direction: column; /* Stack items vertically */
        align-items: center;
    }
    .navbar li {
        padding: 2vh 8vw; /* Reduce padding */
    }

    .navbar a {
        font-size: 18vw;
        line-height: 0.8;
    }
    .logo-container {
        width: 20vw; 
    }
}

@media (max-width: 480px) {
    h1{
        font-size: 5vw;
    }
    .navbar ul {
        flex-direction: column; /* Stack items vertically */
        align-items: center;
    }

    .navbar li {
        padding: 2vh 8vw; /* Further reduce padding */
    }
    .navbar a {
        font-size: 15vw;
        line-height: 0.8;
    }
    .logo-container {
        width: 17vw; 
    }
}