body{
    font-family: "futura pt", sans-serif;
    /* margin-right: 40vw; */
}
h1{
    font-size: 2em;
    font-style: italic;
    font-weight: 200;
    color: #53000B;
    padding-left: 2vw;
}


.navbar{
    position: fixed;
    bottom: 0;
    width: 100%;
 }
.navbar ul{
    list-style-type: none;
    overflow: hidden;
    display:flex;
    justify-content: center;
    margin-right: 5vw;

}
.navbar a{
    text-decoration: none;
    color: #53000B;
    display: block;
    text-align:center;
    font-size: 7em;
    font-weight: 800;
    display: inline-block;
}
.navbar li{
    display: inline-block;
    padding: 0vh 10vw;
}
.logo-container {
    fill: #2e4a04;
    stroke-width: 0px;
    position: absolute;
    width: 12vw;
    height: auto;
    left: 0;
   
}

#Layer_1 {
    animation: Layer_1bounce 30s infinite;
  }
  
  @keyframes Layer_1bounce {
    0% {
        transform: translate(calc(50vw - 6vw), -15vh); /* Middle of the top side */
    }
    25% {
        transform: translate(calc(100vw - 12vw), calc(40vh - 6vw)); /* Middle of the right side */
    }
    50% {
        transform: translate(calc(50vw - 6vw), calc(95vh - 12vw)); /* Middle of the bottom side */
    }
    75% {
        transform: translate(0, calc(50vh - 6vw)); /* Middle of the left side */
    }
    100% {
        transform: translate(calc(50vw - 6vw), -15vh); /* Return to the middle of the top side */
    }
  }

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .navbar li {
        padding: 2vh 8vw; /* Reduce padding */
    }

    .navbar a {
        font-size: 4em; /* Reduce font size */
    }
    .logo-container {
        width: 12vw; 
    }
}

@media (max-width: 480px) {
    .navbar ul {
        flex-direction: column; /* Stack items vertically */
        align-items: center;
    }

    .navbar li {
        padding: 2vh 8vw; /* Further reduce padding */
    }
    .navbar a {
        font-size: 4em; /* Further reduce font size */
    }
    .logo-container {
        width: 12vw; 
    }
}